html,body {
	height:100%;
}
section,footer{
	padding:1em 0;
}
.jumbotron {
	text-align: center;
	background: #ebebeb;
}
footer {
	font-size: .9em;
	text-align: center;
	background-color: #ddd;
}
.red-wrapper-outer {
    box-shadow: 0px 1px 18px 1px #333;
    background: #e9e5e5; /* Old browsers */
    background: -moz-linear-gradient(top,  #e9e5e5 0%, #d0cbcb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e5e5), color-stop(100%,#d0cbcb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e9e5e5 0%,#d0cbcb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e9e5e5 0%,#d0cbcb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e9e5e5 0%,#d0cbcb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e9e5e5 0%,#d0cbcb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e5e5', endColorstr='#d0cbcb',GradientType=0 ); /* IE6-9 */
}
#red-demo .item{
    float:left;
    background: #000;
    text-align: center;
    overflow:hidden;
    width:inherit;
}